@use "global" as *;

.c-frame {
    background-color: $white;
    padding-top: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}

@include mq () {
    .c-frame {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}