@use "global" as *;

.c-sec-ttl {
    text-align: center;
    margin-bottom: rem(32);
    h3 {
        font-size: 2rem;
        font-weight: bold;
        font-family: $ff_eng;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }
    p {
        font-size: 1rem;
        font-weight: bold;
    }
}

@include mq (sp) {
    .c-sec-ttl {
        margin-bottom: rem(48);
    }
}
@include mq () {
    .c-sec-ttl {
        margin-bottom: rem(64);
        h3 {
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        p {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
@include mq (pc) {
    .c-sec-ttl {
        margin-bottom: rem(80);
    }
}