@use "global" as *;

.p-fv {
    height: calc(rem(300) + 5rem);
    background-size: cover;
    background-position: center center;
    padding-top: 5rem;
    overflow: hidden;
}


.p-fv-inner {
    position: relative;
    height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.p-fv-inner[data-aos=zoom-out] {
    transform: scale(1.5);
}

.p-fv-copy {
    position: absolute;
	top: 50%;
    left: max(10rem, 36vw);
	transform: translate(-50%, -50%);
    p {
        font-size: rem(64);
        font-family: $ff_eng;
        text-transform: uppercase;
        color: $white;
        &:last-child {
            margin-left: rem(56);
        }
    }
}

@include mq (sp) {
    .p-fv {
        height: rem(500);
    }
}
@include mq () {
    .p-fv {
        height: calc(rem(500) + 5rem);
    }

    .p-fv-copy {
        left: 50%;
    p {
        font-size: rem(72);
        color: $white;
        &:last-child {
            margin-left: rem(64);
        }
    }
}
}