@use "global" as *;

.p-header-logo {
    width: 80px;
    height: 52px;
}

.p-header-logo__img {
    img {}
}

.p-header-nav {
    position: fixed;
    background-color: $white;
    top: 80px;
    right: 0;
    right: -320px;
    width:  320px;
    height: calc(100vh - 80px);
    padding-top: rem(24);
    padding-right: 1rem;
    padding-bottom: rem(24);
    padding-left: 1rem;
    transition: all 0.6s;
}

.p-header-nav__list {
    position: absolute;
    top: 250px;
    left:50%;
    transform: translate(-50%,-50%);
}

.p-header-nav__item {
    font-size: 1.5rem;
    &:not(:last-child) {
        margin-bottom: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid $black;
        a {
            display: inline-block;
            width: 175px;
            padding-right: 0.5rem;
            padding-left: 0.5rem;
            @include txt-border($green);
            &::after {
                z-index: -1;
                bottom: -1rem;
                height: rem(64);
                transition: transform 1.5s;
            }
            &:hover {
                color: $white;
            }
        }
    }
    &:last-child {
        width: 175px;
        a {
            display: block;
            color: $white;
            background-color: $green;
            border-radius: 5px;
            @include btn-anime-2;
        }
    }
    a {
        color: $black;
        font-weight: bold;
    }

}

.p-header-nav__btn {
    height: 50px;
}

.p-nav-bar {
    background-color: $d-green;
    width: rem(50);
    height: rem(8);
    &:first-child {
        top: 0;
    }
    &:nth-child(2) {
        top: -14px;
        bottom: 0;
        margin: auto;
        transition: .9s ease;
    }
    &:nth-child(3) {
        top: rem(28);
    }
    &:last-child {
        bottom: 0;
    }
    &:not(:last-child) {
    }
}

@include mq (sp) {
}

@include mq () {
    .p-header-logo {
        width: 100px;
        height: 70px;
    }

    .p-header-nav {
        position: static;
        background-color: $white;
        top: inherit;
        right: 0;
        right: -320px;
        width:  auto;
        height: 80px;
        padding: 0;
    }
    
    .p-header-nav__list {
        position: static;
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }

    .p-header-nav__item {
        font-size: 1rem;
        &:not(:last-child) {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
            a {
                width: auto;
                padding-right: 0.8rem;
                padding-left: 0.8rem;
                &::after {
                    bottom: -1.9rem;
                    height: 5rem;
                }
            }
        }
        a {
            font-size: 1.2rem;
        }
        &:last-child {
            a {
                color: $white;
            }
        }
    }
    .p-header-nav {
        display: block;
    }

    .p-header-btn__area {
        display: none;
    }
}

@include mq (pc) {
}
