@use "global" as *;

.p-news {
    overflow: hidden;
}

.p-news-inner {
    margin: 0 auto;
    max-width: 900px;
}

.p-news-top {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.p-news-top__txt {
    display: flex;
    align-items: center;
    z-index: 1;
    p {
        font-size: rem(22);
        line-height: rem(27);
        letter-spacing: -1px;
    }
}

.p-news-top__img {
    position: relative;
    width: calc( 100% - 180px);
    margin-top: -1rem;
    margin-right: rem(-32);
}

.p-news-top__img-inner {
}

.p-news-cont {
    max-width: 600px;
    margin: 0 auto;
}

.p-news-cont__wrap {

}

.p-news-cont__ttl {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    background-color: $d-green;
    p {
        color: $white;
    }
}

// wp////////////////////////////
.p-news-list {
    background-color: $l-green;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: rem(28);
    padding-left: 1rem;
}

.p-news-item {
    @include txt-shadow;
}

.p-news-item__inner {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: dotted 2px;
    padding-top: rem(12);
    padding-bottom: rem(12);
}

.p-news-date {
    display: flex;
    align-items: center;
    margin-right: min(4.5rem, 19.2vw);
}

.p-news-txt {
    font-size: rem(14);
}

.p-news-txt__exc {
    margin-bottom: 0.5rem;
}

.p-news-txt__link {
    text-align: right;
    a {
        text-decoration: underline;
    }
}

@include mq (sp) {
    .p-news-top__img {
        position: relative;
        width: calc( 100% - 180px);
        max-width: 450px;
        margin-top: -1rem;
        margin-right: rem(-64);
    }

    .p-news-top__txt {
        p {
            font-size: rem(24);
            line-height: rem(27);
            letter-spacing: -1px;
        }
    }

    .p-news-txt {
        font-size: rem(16);
    }
}
@include mq () {

    .p-news-top__txt {
        p {
            font-size: 2.5rem;
            line-height: 1.2;
        }
    }
}