@use "global" as *;

.p-products {
    padding-top: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
}

.p-products-inner {}

.p-products-wrap {}

.p-products-list {}

.p-products-item {
    margin: 0 auto;
    max-width: 500px;
    @include box-anime-shadow(0.8);
    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

