@use "global" as *;

.p-recipe-inner {
    max-width: 1280px;
    margin: 0 auto;
}


.p-recipe-tabs {
    display: flex;
}

.p-recipe-ttl  {
}

.p-recipe-tab {
    display: flex;
    align-items: center;
    background-color: $d-green;
    height: rem(64);
    width: calc((100% - 4px*4) / 5);
    border-radius: rem(10) rem(10) 0 0;
    padding-right: rem(4);
	transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
        background-color: $green;
    }
    p {
        color: $white;
        font-size: min(0.875rem, 3.75vw);
        font-weight: bold;
        margin: 0 auto;
        text-align: end;
    }
    &:nth-child(4) {
        p {
            width: rem(62);
        }
    }
    &:not(:last-child) {
        margin-right: 0.25rem;
    }
}

.p-recipe-cont {
    padding-top: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    border: 2px solid $d-green;
}

.p-recipe-more {
    width: 100%;
}

.p-recipe-btn {
    width: 175px;
    margin: 0 auto;
    a {
        font-size: rem(20);
        background-color: $d-green;
        border: rem(1) solid $d-green;
        line-height: calc(3.75rem - rem(4));
        padding-right: rem(8);
        @include btn-anime($white, rem(5));
        &:hover {
            color: $d-green;
            &::before {
                content:"＞";
                right: rem(8);
            }
        }
        &::before {
            content:"＞";
            position: absolute;
            font-size: rem(18);
            font-weight: bold;
            right: rem(12);
            transition: 0.5s;
            top: 0;
        }
    }
}


@include mq (sp) {
    .p-recipe-tab {
        p{
            font-size: rem(20);
        }
        &:nth-child(4) {
            p {
                width: rem(90);
            }
        }
        &:not(:last-child) {
            margin-right: 0.25rem;
        }
    }
}

@include mq () {

    .p-recipe-tab {
        height: rem(80);

        &:nth-child(4) {
            font-size: rem(21);
            p {
                width: auto;
                font-size: min(rem(28), 2.45vw);
            }
        }
        p {
            font-size: min(rem(32), 2.8vw);
        }
    }
}