@use "global" as *;

.p-blog-content__inner {
    max-width: 625px;
    width: 100%;
    padding-top: 3.75rem;
    padding-right: 2.25rem;
    padding-bottom: 3.75rem;
    margin-left: auto;
}

.p-blog-content__cat-tag {
    display: inline-block;
    background-color:  $navy;
    padding: 0.625rem 1.5625rem;
    margin-bottom: 1.875rem;
    p {
        font-size: 0.75rem;
        color: $white;
    }
}

.p-blog-content__ttl {
    margin-bottom: 1.25rem;
    text-align: start;
    line-height: 2.625rem;
    h2 {
        font-size: 1.75rem;
    }
}

.p-blog-content__date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5625rem;
}

.p-blog-content____thumnail-wp {
    width: 100%;
    margin-bottom: 1.875rem;
    img {
        width: 100%;
        max-height: 370px;
        object-fit: cover;
    }
}

@include mq (pc) {
    .p-blog-content__inner {
        padding-right: 1.5rem;
    }
}

@include mq () {
    .p-blog-content__inner {
        margin: 0 auto;
        padding-right: 0;
    }
}

@include mq (sp) {
    .p-blog-content__date {
        flex-direction: column;
        time {
            text-align: end;
        }
    }
}

