@use "global" as *;

.p-contact {
    background-color: $white;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.p-contact-inner {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 3.75rem;
    padding-bottom: 5.125rem;
}

.p-contact-desc {
    line-height: 1.6875;
    margin-bottom: 3rem;
}

.p-contact-item {
    margin-bottom: 1.25rem;
    &:nth-child(4),
    &:nth-child(5) {
        margin-bottom: 1.5rem;
    }
    &:nth-child(6) {
        margin-bottom: 1.875rem;
    }
}

.p-contact-name {
    line-height: 1.6875;
    span {
        font-weight: bold;
    }
}

.p-contact-input {
    width: 100%;
    height: 50px;
    margin-top: 0.75rem;
    padding-left: 1.25rem;
    border: solid 0.5px $navy;
    font-size: 1rem;
    &::placeholder {
        color: $MD-gray;
        font-size: 0.75rem;
    }
    &:focus {
        border: solid 1.5px $navy;
    }
}

// エラーメッセージ//////////////////////////////

.mw_wp_form .error {
    margin-top: 0.5rem;
}

.p-contact-select {
    margin-top: 1.25rem;
    span {
        &:not(:last-child) {
            margin-bottom: 1.125rem;
        }
    }
}

// ラジオボタン//////////////////////////////
input[type=radio] {
    display: none;
}
.mwform-radio-field-text {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    padding-left: 2.5rem;
    position: relative;
    width: auto;
    &::before {
        background: #fff;
        border: 0.5px solid $navy;
        border-radius: 50%;
        content: '';
        display: block;
        width: 19px;
        height: 19px;
        left: 0;
        margin-top: -10px;
        position: absolute;
        top: 50%;
    }
    &::after {
        background: $yellow;
        border-radius: 50%;
        content: '';
        display: block;
        height: 16px;
        left: 2px;
        opacity: 0;
        position: absolute;
        top: 20%;
        width: 16px;
        transition: .5s;
    }
}

input[type=radio]:checked + .mwform-radio-field-text::before {
    border-color: $navy;
}

input[type=radio]:checked + .mwform-radio-field-text::after {
    opacity: 1;
}

//////////////////////////////////////////

.p-contact-textarea {
    resize: none;
    width: 100%;
    height: 240px;
    margin-top: 0.75rem;
    padding-top: 1.375rem;
    padding-left: 1.4375rem;
    font-size: 0.75rem;
    border: solid 0.5px $navy;
    &::placeholder {
        color: $MD-gray;
    }
    &:focus {
        border: solid 1.5px $navy;
    }
}

.p-contact-privacy{
    text-align: center;
    margin-bottom: 2.8125rem;
}

.p-contact-privacy__txt {
    margin-bottom: 1.875rem;
    a {
        color: $yellow;
        text-decoration: underline;
        line-height: 1.6875;
    }
}


// checkbox///////////////////////////////////
input[type=checkbox] {
    visibility: hidden;
}

// labelのclass //////////////////
span.mwform-checkbox-field-text {
    display: inline-block;
    padding-right: 30px;
    padding-left: 2.8175rem;
    position: relative;
    cursor: pointer;
    width: auto;
    margin: 0 auto;
    box-sizing: border-box;
    p {
        font-weight: bold;
    }
    &::before {
        position: absolute;
        background: $white;
        border: 1px solid $navy;
        content: '';
        display: block;
        width: 18px;
        height: 18px;
        left: 10px;
        margin-top: -10px;
        top: 50%;
    }
    &::after {
        border-right: 3px solid $navy;
        border-bottom: 3px solid $navy;
        content: '';
        display: block;
        height: 12px;
        left: 15px;
        margin-top: -9px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: rotate(45deg);
        width: 6px;
    }
}

input[type=checkbox]:checked + span.mwform-checkbox-field-text::after {
    opacity: 1;
    transition: 1s ease;
}

//////////////////////////////////////////////////

.p-contact-privacy__check {}

.p-contact-check {}

.p-contact-submit {
    text-align: center;
}

.p-contact-btn {
    width: 200px;
    height: 50px;
    background-color: $navy;
    cursor: pointer;
    padding: 0;
    z-index: 0;
    @include btn-anime ($yellow);
    @include box-anime;

}

.p-contact-btn__input {
    width: 100%;
    height: 100%;
    color: $white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background: transparent;
    position: relative;
    z-index: 1;
}

@include mq (sp) {
    .mwform-checkbox-field-text {
        font-size: 0.95rem;
    }

    .p-contact-top-ttl {
        width: 192px;
    }
}