@use "../../global" as *;

.p-concept {
    height: 604px;
    background-color: $black;
}


.p-concept-inner {
    max-width: 900px;
    width: 76%;
    margin: 0 auto;
    padding-top: 3.9375rem;
    padding-bottom: 3.375rem;
}

.p-concept-top {
    color: $white;
}

.p-concept-copys {
    width: 560px;
    margin: 0 auto;
    margin-top: 3.375rem;
}

.p-concept-copys_list {
    display: flex;
    text-align: center;
}

.p-concept-copys_item {
    line-height: 2.5rem;
    font-weight: bold;
    p {
        font-size: 1.125rem;
    }
    &:first-child {
        margin-right: 57px;
    }
    &:nth-child(2) {
        margin-right: 30px;
    }
}

.p-concept-bottom {
    max-width: 900px;
    width: 100%;
    background-color: $white;
    padding: 12px 1rem;
    margin-top: 4.5rem;
    text-align: center;
}

.p-concept-top__frame {
    padding-top: calc(1.4rem - 5px);
    padding-bottom: calc(1.4em - 5px);
    border: 5px solid $black;
}

.p-concept-main {
    font-size: 2.25rem;
    line-height: 50px;
    font-weight: bold;
    span {
        background: linear-gradient(transparent 75%, $yellow 0%);
    }

}

.p-concept-desc {
    font-size: 1.125rem;
    line-height: 2rem;
    margin-top: 1rem;
}

@include mq (pc) {
    .p-concept-inner {
        width: 85%;
    }
}

@include mq () {
    .p-concept {
        height: auto;
    }

    .p-concept-ttl  h2 {
        line-height: 1.5;
    }

    .p-concept-copys {
        width: auto;
        margin: 0 auto;
        margin-top: 1.5rem;
    }

    .p-concept-copys_list {
        flex-direction: column;
        text-align: center;
    }

    .p-concept-copys_item {
        line-height: 2.5rem;
        font-weight: bold;
        p {
            font-size: 1.4rem;
        }
        &:first-child {
            margin-right:0;
        }
        &:nth-child(2) {
            margin-right: 0;
        }
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    .p-concept-bottom {
        max-width: 900px;
        width: 100%;
        background-color: $white;
        padding: 12px 1rem;
        margin-top: 2.5rem;
    }
}

@include mq (sp) {
    .p-concept-ttl h2 {
        font-size: 2rem;
        line-height: 1.5;
    }

    .p-concept-copys_item {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .p-concept-main {
        font-size: 1.8rem;
    }

    .p-concept-desc {
        font-size: 0.8rem;
    }

    .p-concept-bottom {
        padding: 12px 0.9rem;
    }
}