@use "../../global" as *;

.p-faq {
    background-color: $white;
    padding-top: 3.75rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.p-faq-inner {
    max-width: 900px;
    margin: 0 auto;
}

.p-faq-ttl {
    margin-bottom: 2rem;
}

.p-faq-item {
    border-bottom: 1px solid $navy;
    &:first-child {
        border-top: 1px solid $navy;
    }
}

.p-faq-item__q {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.p-faq-item__plus {
        position: absolute;
        width: 25px;
        height: 3px;
        top: 30.5px;
        right: 20.5px;
        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            transition: all 0.4s;
            background: $navy;
            left: 50%;
            top: 50%;
            width: 25px;
            height: 3px;
            transform: translate(-50%, -50%);
        }
        &::before {
            transform: translate(-50%, -50%) rotate(90deg);
        }
}

.p-faq-item__a {
    background-color: $gray;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.625rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}


@include mq () {
    .p-faq-item__q {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-right: 1.8rem;
        cursor: pointer;
    }

    .p-faq-item__plus {
        top: 50%;
        &::before,
        &::after {
            left: 125%;
        }
    }
}

@include mq (sp) {
    .p-faq-item__a {
        padding-left: 1rem;
    }
}