@use "../../global" as *;

.p-flow {
    background-color: $white;
    padding-top: 3.625rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

}
.p-flow-inner {
    max-width: 900px;
    margin: 0 auto;
}

.p-flow-ttl {
    margin-bottom: 3.375rem;
}

.p-flow-list {}

.p-flow-item {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: $gray;
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.p-flow-item__ttl {
    font-size: 1.125rem;
    font-weight: bold;
}

.p-flow-item__number {
    display: inline-block;
    background-color: $yellow;
    color: $white;
    font-size: 1rem;
    padding: 1.5rem;
}

.p-flow-item__main {
    display: inline-block;
    padding-left: 0.75rem;
    min-width: calc(214.5px - 0.5rem);
    line-height: 1.875rem;
    border-right: 1px solid $D-gray;
}

.p-flow-item__desc {
    padding-left: 3.375rem;
}



@include mq () {
    .p-flow-item {
        display: flex;
        align-items: center;
        height: 100px;
        background-color: $gray;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .p-flow-item__ttl {
        font-size: 1.125rem;
        font-weight: bold;
        display: flex;
        align-items: center;
    }

    .p-flow-item__number {
        display: inline-block;
        font-size: 1rem;
        padding: 2.6rem 1.5rem;
    }

    .p-flow-item__main {
        display: inline-block;
        padding-left: 0.25rem;
        min-width: 170px;
        text-align: center;
        border-right: 1px solid $D-gray;
    }

    .p-flow-item__desc {
        padding-left: 0.5rem;
    }

}

@include mq (sp) {
    .p-flow-item {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        background-color: $gray;
        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    .p-flow-item__ttl {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .p-flow-item__number {
        display: inline-block;
        font-size: 1rem;
        padding: 1.5rem 1.5rem;
    }

    .p-flow-item__main {
        display: inline-block;
        padding-left: 0.25rem;
        width: 100%;
        text-align: center;
        line-height: 3.5;
        border-right: none;
        box-shadow: 0px 1px 2.5px $D-gray;
    }

    .p-flow-item__desc {
        padding-left: 0.5rem;
        padding: 1rem;
    }

}
