@use "../../global" as *;

.p-fv {
    height: 556px;
    background-position: 50%;
    background-size: cover;
}


.p-fv-inner {
    display: block;
    position: relative;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 12.25rem;
}

.p-fv-inner_txt {
    color: $white;
    h2 {
        font-size: 3rem;
        font-weight: bold;
        text-shadow: 0 3px 6px#00000029;
    }
    h3 {
        font-size: 1.125rem;
        margin-top: 1.3125rem;
        line-height: 2rem;
    }
}
.p-fv-inner_cta {
    margin-top: 44px;
}

.p-fv-btn {
    width: 260px;
    border-radius: 2rem;
    background-color: $yellow;
    @include box-anime;
    @include btn-anime-l ($navy,25px);
}

.p-fv-link {
    margin-top: 22px;
    a {
        color: $white;
        text-decoration: underline;
        @include txt-shadow;
    }

}