@use "../../global" as *;

.p-sidebar {
    width: 36.25vw;
    max-width: 275px;
    padding-right: 0.3125rem;
}

.p-sidebar-inner {
    width: 100%;
    padding-top: 3.75rem;
}

.p-sidebar-section {

}

.p-sidebar-section__ttl {
    background-color: $navy;
    width: 270px;
    padding-top: 1.3125rem;
    padding-bottom: 1.3125rem;
    margin-bottom: 1.875rem;
    text-align: center;
    p {
        font-size: 1.3125rem;
        color: $white;
        font-weight: bold;
    }
}

.p-sidebar-section__list-wp {
    margin-bottom: 3.125rem;
}

.p-sidebar-section__item-wp {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.p-sidebar__thumnail-wp {
    width: 100px;
    height: 70px;
    border: 0.5px solid $navy;
    overflow: hidden;
    img {
        width: 100px;
        height: 70px;
        object-fit: cover;
        @include img-anime;
    }
}

.p-sidebar__ttl-wp {
    width: calc(100% - 100px);
    padding-left: 1rem;
    a {
        font-size: 0.75rem;
        text-decoration: underline 1px;
        @include txt-opa;
    }
}

.p-sidebar-section__cat-wp {
    font-weight: bold;
    @include txt-opa;
    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}

@include mq () {
    .p-sidebar {
        width: 100%;
        max-width: 500px;
        padding-right: 0;
        margin: 0 auto;
    }

    .p-sidebar-inner {
        width: 100%;
    }

    .p-sidebar__ttl-wp {
        width: 60%;
        min-width: 200px;
        margin: 0 auto;
        a {
            font-size: 1.2rem;
        }
    }

    .p-sidebar-section__ttl {
        max-width: 500px;
        width: 100%;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        margin-bottom: 1.875rem;
        text-align: center;
        p {
            font-size: 1.3125rem;
            color: $white;
            font-weight: bold;
        }
    }

    .p-sidebar__thumnail-wp {
        // width: 100%;
        min-width: 200px;
        height: 160px;
        margin: 0 auto;
        margin-bottom: 0.5rem;
        img {
            width: 100%;
            min-width: 200px;
            height: 160px;
        }
    }

    .p-sidebar-section__item-wp {
        font-size: 1.5rem;
    }
}

@include mq (sp) {
    .p-sidebar-section__item-wp {
        flex-direction: column;
        &:not(:last-child) {
        }
    }

    .p-sidebar__ttl-wp {
        width: 60%;
        min-width: 200px;
        margin: 0 auto;
        margin-top: 1rem;
        padding-left: 0;
        a {
            font-size: 1.2rem;
        }
    }
}