@use "../../global" as *;

.p-success {
    background-color: $black;
    height: 608px;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.p-success-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 3.625rem;
}

.p-success-ttl {
    margin-bottom: 8.125rem;
    h2 {
        color: $white;
    }
}


.p-success-cont {}

.p-success-cards {
    display: flex;
}

.p-success-card {
    width: calc((100% - 3.75rem) / 3);
    &:not(:last-child) {
        margin-right: 1.875rem;
    }
}

.p-success-card__metas-top {
    display: flex;
}

.p-success-card__txt {
    color: $white;
    line-height: 1.875rem;
    margin-bottom: 0.475rem;
}

.p-success-card__img {
    position: relative;
    height: 172px;
    background-color: $white;
    margin-bottom: 1rem;
    img {
        position: absolute;
        top: 60%;
        left: 50%;
        -webkit-transform : translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 125px;
        height: 140px;
    }
}

.p-success-card__metas {
}

.p-success-card__meta {
    display: inline-block;
    background-color: $white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.875rem;
    &:first-child {
        max-width: 100px;
        width: 36.7647%;
        margin-right: 0.5rem;
        padding-left: 0.625rem;
    }
    &:nth-child(2) {
        max-width: 172px;
        width: 63.2353%;
    }
}

.p-success-card__meta-score {
    &:first-child {
        max-width: 280px;
        width: 100%;
        padding-left: 0.875rem;
        margin: 0;
        margin-top: 0.5rem;}
}


@include mq (){
    .p-success {
        height: auto;
        padding-bottom: 3rem;
    }

    .p-success-ttl {
        margin-bottom: 5rem;
    }

    .p-success-cards {
        flex-direction: column;
    }

    .p-success-card {
        max-width: 630px;
        width: 75%;
        margin: 0 auto;
        &:not(:last-child) {
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }

    .p-success-card__txt {
        font-size: 1.5rem;
    }

    .p-success-card__img {
        img {
            top: 51%;
            width: 150px;
            height: 170px;
        }
    }

    .p-success-card__meta {
        font-size: 1.5rem;
        padding-left: 0;
        text-align: center;
        &:first-child {
            max-width: 228.7px;
            margin-right: 0.5rem;
            padding-left: 0;
        }
        &:nth-child(2) {
            max-width: 393.3px;
        }
    }

    .p-success-card__meta-score {
        &:first-child {
            max-width: 630px;
            width: 100%;
            padding-left: 0;
        }
    }
}

@include mq (sp) {
    .p-success-card {
        width: 95%;
        margin: 0 auto;
        &:not(:last-child) {
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    }

    .p-success-card__meta {
        font-size: 1.4rem;
    }
}