@use "../../global" as *;

.p-table {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 3.875rem;
}

.p-table-inner {
    max-width: 900px;
    margin:  0 auto;
}

.p-table__ttl {
    margin-top: 5.625rem;
    margin-bottom: 4.375rem;
    h2 {
        font-size: 2rem;
    }
}

.p-table__wrap {
    width: 100%;
}


.p-table__cont {
    width: 100%;
}

.p-table__cont-inner {
    display: flex;
    width: 100%;
}

.p-table__row {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc((100% - 18px )/4);
    text-align: center;
    @include box-anime;
    &:not(:last-child) {
        margin-right: 0.375rem;
    }
    &:not(:nth-child(3)) {
        margin-top: 2.25rem;
    }
}

.p-table__plan {
    background-color: $navy;
    color: $white;
    line-height: 2.25;
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.p-table__plan-recommend {
    display: flex;
    flex-direction: column;
    background-color: $yellow;
    span {
        line-height: 2.25;
    }
}

.p-table__price {
    padding-bottom: 3.125rem;
    border-right: 0.5px solid $navy;
    border-left: 0.5px solid $navy;
}

.p-table__price-main-wp {
    p {
        font-size: 1.5625rem;
        font-weight: bold;
        margin-top: 1.875rem;
        margin-bottom: 0.875rem;
    }
}

.p-table__price-main-recommend {
    color: $yellow;

}

.p-table__item {
    display: flex;
    flex-direction: column;
    height: 278px;
    padding-right: 1.5rem;
    padding-left: 3.125rem;
    border-right: 0.5px solid $navy;
    border-left: 0.5px solid $navy;
    border-bottom: 0.5px solid $navy;
    h4 {
        position: relative;
        width: 150px;
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
        span {
            position: relative;
            left: -24px;
            top: 7px;
            &::before {
                content: "";
                position: absolute;
                background-color: $navy;
                width: 8.5px;
                height: 3px;
                transform: rotate(45deg);
            }
            &::after {
                content: "";
                position: absolute;
                background-color: $navy;
                width: 13px;
                height: 3px;
                left: 5px;
                transform: rotate(135deg);
            }
        }
    }
}

.p-table__item-attention {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@include mq () {
    .p-table__wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .p-table__wrap::-webkit-scrollbar {
        height: 8px;
    }
    /*スクロールバー全体の背景*/
    .p-table__wrap::-webkit-scrollbar-track {
        background: $gray;
    }
    /*スクロールバーの動く部分*/
    .p-table__wrap::-webkit-scrollbar-thumb {
        display: block;
        position: relative;
        background: $D-gray;
        border: none;
        border-radius: 5px;
    }
    /*スクロールバーの動く部分のホバー（マウスオーバー）*/
    .p-table__wrap::-webkit-scrollbar-thumb:hover {
        background: $navy;
    }

    .p-table__cont-inner {
        width: 900px;
    }

    .p-table__row {
        flex-shrink: 0;
    }

    .p-table__item {
        height: 250px;
    }
}