@use "../../global" as *;

.p-update {
    height: auto;
    border-color: $white;
    padding-top: 4.6875rem;
    padding-right: 1rem;
    padding-bottom: 7.5rem;
    padding-left: 1rem;
}

.p-update-inner {
    display: flex;
    max-width: 930px;
    margin: 0 auto;
}

.p-update-cont {
    width: calc((100% - 4.25rem )/2);
    &:nth-child(2) {
        margin-left: 4.25rem;
    }
}

.p-update-ttl {
    text-align: left;
    margin-bottom: 1.875rem;
    h2 {
        font-size: 2rem;
    }
}

.p-update-blog__wp {
}

.p-update-blog__item-wp {
    display: flex;
    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

.p-update-blog__thumnail-wp {
    position: relative;
    width: 150px;
    height: 110px;
    overflow: hidden;
    img {
        object-fit: cover;
        width: 150px;
        height: 110px;
        @include img-anime;
    }
}

.p-update-blog__cat-wp {
    padding: 0.375rem 0.5625rem;
}

.p-update-blog__txt-wp {
    display: flex;
    flex-direction: column;
    width: calc(100% - (150px + 1.25rem));
    padding-left: 1.25rem;
}

.p-update-blog__ttl-wp {
    flex-grow: 1;
    a {
        font-weight: bold;
        line-height: 1.6875rem;
        text-decoration: underline;
        @include txt-opa;
    }
}

.p-update__date-wp {
    font-size: 0.75rem;
}

.p-update-news__item-wp {
    height: 84px;
    &:not(:last-child) {
        margin-bottom: 1.25rem;
    }
}

.p-update-news__ttl-wp {
    margin-top: 1rem;
    line-height: 1.5;
    @include txt-opa;
    a{
        text-decoration: underline;
    }
}

@include mq (){
    .p-update-inner {
        display: flex;
        flex-direction: column;
    }

    .p-update-ttl {
        text-align: center;
        margin-bottom: 1.875rem;
        h2 {
            font-size: 2rem;
        }
    }

    .p-update-cont {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        &:nth-child(2) {
            margin: 0 auto;
            margin-top: 2rem;
        }
    }
}

@include mq (sp){
    .p-update-blog__wp {
        flex-direction: column;
    }

    .p-update-blog__item-wp {
        flex-direction: column;
    }

    .p-update-blog__txt-wp {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .p-update-blog__thumnail-wp {
        position: relative;
        width: 100%;
        height: 250px;
        margin: 0 auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .p-update-blog__ttl-wp {
        margin-bottom: 1rem;
        a {
            font-size: 1.2rem;
        }
    }

    .p-update-blog__exc-wp {
        margin-bottom: 1rem;
    }

    .p-update-blog__txt-wp {
        margin-top: 1rem;
    }

    .p-update-news__item-wp {
        height: auto;
        &:not(:last-child) {
            margin-bottom: 1.25rem;
        }
    }

    .p-update-news__ttl-wp {
        a{
            font-size: 1.2rem;
        }
    }
}