@use "global" as *;

.l-footer {
    background-color: $navy;
}

.l-footer-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 2.1875rem;
    padding-right: 10.75rem;
    padding-bottom: 4.28125rem;
    padding-left: 10.675rem;
    text-align: center;
}

.l-footer-nav {
    text-align: center;
}

.l-footer-nav__list {
    display: flex;
    margin: 0 auto;
}

.l-footer-nav__item {
    padding-right: 1.34375rem;
    padding-left: 1.34375rem;
    &:not(:last-child) {
        border-right: 1px solid $white;
    }
    a {
        color: $white;
        font-size: 1.125rem;
        letter-spacing: 3.5px;
        @include txt-shadow;
    }
}

.l-footer-logo {
    width: 197px;
    height: 58px;
    background-color: $white;
    padding-top: 0.875rem;
    padding: 0.875rem 1.25rem;
    @include logo-anime;
}

.l-footer-logo__img {
    width: 145px;
}

.l-footer-info {
    padding-top: 1.6875rem;
    text-align: end;
}

.l-footer-info_tell {
    margin-bottom: 0.875rem;
    a {
        color: $white;
        font-weight: bold;
    }
    svg {
        margin-right: 0.5rem;
    }
}

.l-footer-info_date {
    time {
        color: $white;
        font-size: 0.75rem;
    }
}

.l-footer-address__desc {
    margin-left: 20px;
}

.l-footer-tel {
    a {
        color: $navy;
        &:last-child {
            margin-left: 20px;
        }
    }
}


.l-footer-copy {
    line-height: 2.25rem;
    background-color: $white;
    padding-right: 10.75rem;
    text-align: end;
    small {
        color: $navy;
        font-weight: bold;
    }
}

@include mq (pc) {
    .l-footer-inner {
        padding-right: 3rem;
        padding-left: 3rem;
    }
}

@include mq () {
    .l-footer-inner {
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
    }
    .l-footer-info {
    }

    .l-footer-nav__list {
        justify-content: center;
    }

    .l-footer-nav__item {
        padding-right: 1rem;
        padding-left: 1rem;
        a {
            font-size: 1rem;
        }
    }

    .l-footer-inner__r {
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }

    .l-footer-info {
        padding-top: 0;
        padding-left: 1rem;
    }

    .l-footer-copy {
        padding-right: 0;
        text-align: center;
    }
}

@include mq (sp) {
    .l-footer-inner {
        padding-bottom: 2.1875rem;
    }

    .l-footer-nav__list {
        display: flex;
        flex-direction: column;
        width: 160px;
        margin: 0 auto;
    }

    .l-footer-nav__item {
        padding-right: 1.34375rem;
        padding-left: 1.34375rem;
        &:not(:last-child) {
            margin-bottom: 1rem;
            border: none;
        }
        &:not(:first-child) {
            border-top: 0.5px solid $D-gray;
            padding-top: 1rem;
        }
    }

    .l-footer-inner__r {
        flex-direction: column-reverse;
    }

    .l-footer-info {
        padding-left: 0;
        text-align: center;
        margin-bottom: 1rem;
    }

    .l-footer-logo {
        margin: 0 auto;
    }
}
