@use "global" as *;

.p-detail {
    padding-top: rem(64);
    padding-bottom: rem(64);
    video {
        display: block;
        width: 100%;
        height: 235px;
        max-width: 900px;
        max-height: 500px;
        margin: 0 auto;
        margin-bottom: rem(48);
    }
    h2{
        display: inline-block;
        margin: 0 auto;
        color: $white;
        background-color: $navy;
        padding: 0.5rem;
    }
    h4{
        display: inline-block;
        margin: 0 auto;
        color: $white;
        background-color: $navy;
        padding: 0.5rem;
    }
    table {
        background-color: $l-green;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 1.5rem 0.5rem;
        border-collapse: separate;       //padding無効の対処
        &:first-of-type {
            margin-bottom: rem(48);
        }
    }
    tr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0.25rem;
        border-bottom: dotted 2px $black;
    }
    td {
        line-height: 1.2;
        text-transform: none;
    }
}

.p-detail-inner {
    max-width: 600px;
    margin: 0 auto;
}

.p-detail-ttl{}


.p-detail-table_explain {
    text-indent: -1em;
    padding-left: 1em;
}

.p-detail-table {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.p-detail-tableTtl {
    font-size: rem(18);
}

.p-detail-review {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    p {
        display: none;
    }
}

// youtube埋め込み
.p-detail-youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: rem(48);
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// レビュープラグイン調整用////////////////////////////

// レビューサマリーの下
.glsr-reviews-wrap {
    margin-bottom: rem(48);
}

// 名前横の空間
.glsr-review-author {
    &::before {
        margin-right: rem(8);
    }
}
//一度消したものを表示
p.glsr-tag-value {
    display: block;
}

#glsr_9be16351 {
    margin-bottom: rem(64);
    p {
        display: block;
    }
}

.glsr-review-author {
    width: 100%;
    margin-bottom: 0.5rem;
}

.glsr-no-margins {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.glsr-button {
    width: 175px;
    .glsr-button-text {
        display: block;
        color: $white;
        font-weight: bold;
        background-color: $d-green;
        border: 2px solid $d-green;
        border-radius: 5px;
        line-height: calc(2.75rem - rem(4));
        @include btn-anime($white, rem(5));
        &:hover {
            color: $d-green;
        }
    }
}

.glsr .glsr-reviews-wrap .glsr-reviews {
    gap: 1rem;
}

.glsr-reviews-wrap {
    padding-top: 1rem;
    padding-left: 1rem;
}

.glsr-review {
    border-bottom: 2px dotted $black;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

// SNS共有 プラグイン調整用////////////////////////////

.addtoany_share_save_container.addtoany_content.addtoany_content_bottom {
    margin-top: rem(64);
}

.addtoany_content {
    max-width: 600px;
}

.a2a_kit.addtoany_list {
    display: block;
    padding-bottom: 1rem;
}

@include mq (sp) {
    .p-detail {
        padding-top: rem(64);
        padding-bottom: rem(64);
        video {
            height: auto;
        }
        table {
            padding: 1.5rem;
            &:first-of-type {
                margin-bottom: rem(48);
            }
        }
        tbody {
        }
        tr {
            display: flex;
            justify-content: space-between;
            padding: 1rem 0.25rem;
            border-bottom: dotted 2px $black;
        }
        td {
            line-height: 1.2;
        }
    }
}