@use "global" as *;

.p-listNews-inner {
    max-width: rem(700);
    margin: 0 auto;
}

.p-listNews__wrap {
    margin-bottom: rem(40);
}

.p-listNews__item {
    &:not(:last-child) {
        margin-bottom: rem(32);
    }
}

.p-listNews__item-inner {
    display: flex;
    align-items: center;
    font-weight: bold;
    position: relative;
    border: 1px solid $d-green;
    border-radius: rem(4);
    padding: rem(16) rem(4);
    transition: 0.5s;
    &::after {
        content: "＞";
        position: absolute;
        font-size: rem(20);
        font-weight: bold;
        right: rem(8);
        transition: 0.5s;
    }
    &:hover {
        opacity: 0.5;
        &::after {
            content: "＞";
            right: rem(4);
        }
        .p-listNews__ttl {
            text-decoration: underline;
        }
    }
}

.p-listNews__date {
    width: rem(90);
    margin-right: rem(16);

}

.p-listNews__ttl {
    width: calc(100% - rem(90) - rem(16) - rem(20));
    font-size: rem(18);
    line-height: 2;
    transition: 1s;
}

@include mq (sp) {
    .p-listNews__date {
        width: rem(110);
        margin-right: rem(16);
        font-size: rem(20);
    }
    .p-listNews__ttl {
        width: calc(100% - rem(110) - rem(16) - rem(20));
        font-size: rem(24);
    }
    .p-listNews__item-inner {
        padding: rem(16);
        &::after {
            content: "＞";
            font-size: rem(24);
        }
    }
}

@include mq () {
    .p-listNews-inner {
        max-width: rem(900);
    }
    .p-listNews__wrap {
        margin-bottom: rem(64);
    }
}

@include mq (pc) {
}