@use "global" as *;

.p-cta {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &::before{
        content:"";
        display:block;
        position:fixed;
        top:0;
        left:0;
        z-index:-1;
        width:100%;
        height:100vh;
        background-repeat:no-repeat;
        background-position:15% 100%;
        background-image:url('../img/moringa.jpg');
        background-size:cover;
    }
}

.p-cta-inner {
    background-color: rgba(255, 255, 255, 0.85);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.p-cta-copy {
    text-align: center;
    margin-bottom: 1rem;
    h3 {
        display: block;
        font-weight: bold;
        font-size: rem(22);
        span {
            display: block;
            margin: 0 auto;
            width: 310px;
            background: linear-gradient(transparent 50%, yellow 50%);
            &:first-child {
                margin-bottom: rem(22);
            }
        }
    }
}

.p-cta-btn {
    width: 200px;
    margin:  0 auto;
    a {
        display: inline-block;
        background-color: $d-green;
        position: relative;
        padding-top: calc(rem(28) - 2px);        //borderの幅分
        padding-right: calc(1.05rem - 2px);
        padding-bottom: calc(1rem - 2px);
        padding-left: calc(rem(58) - 2px);
        color: $white;
        font-size: rem(20);
        font-weight: bold;
        border-radius: rem(8);
        width: 100%;
        height: rem(70);
        border: 2px solid $d-green;
        transition: 0.5s;
        &::before{
            content: "＞";
            position: absolute;
            transition: 0.5s;
            right: 16%;
            font-size: rem(14);
            transform: translateY(30%);
        }
        span {
            position: absolute;
            color: rgb(251, 255, 6);
            font-size: rem(12);
            top: rem(10);
            left: rem(20);
            transition: 0.7s;
        }
        &:hover {
            color: $d-green;
            &::before {
                content: "＞";
                right: 14%;
            }
            span {
                color: $black;
            }
        }
        @include btn-anime ($white, rem(5));
    }
}

@include mq (sp) {
    .p-cta-copy {
        margin-bottom: 2rem;
        h3 {
            font-size: rem(28);
            span {
                width: 395px;
                &:first-child {
                    margin-bottom: rem(28);
                }
            }
        }
    }

    .p-cta-btn {
        width: 250px;
        a {
            height: 80px;
            padding-top: calc(rem(28) - 2px);        //borderの幅分
            padding-right: calc(2.5rem - 2px);
            padding-bottom: calc(1.2rem - 2px);
            padding-left: calc(rem(66) - 2px);
            font-size: rem(28);
            &::before{
                content: "＞";
                font-size: rem(20);
                transform: translateY(25%);
            }
            span {
                font-size: rem(12);
                top: rem(14);
                left: rem(20);
            }
        }
    }
}

@include mq () {
    .p-cta {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .p-cta-btn {
        width: 285px;
        a {
            padding-top: calc(rem(26) - 2px);        //borderの幅分
            padding-right: calc(2.5rem - 2px);
            padding-bottom: calc(1rem - 2px);
            padding-left: calc(rem(66) - 2px);
            font-size: rem(32);
            height: 85px;
            &::before{
                content: "＞";
                font-size: rem(22);
                transform: translateY(30%);
            }
        }
    }
}

@include mq (pc) {
    .p-cta {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .p-cta-copy {
        margin-bottom: 3rem;
        h3 {
            font-size: rem(32);
            span {
                width: 450px;
                &:first-child {
                    margin-bottom: rem(32);
                }
            }
        }
    }

    .p-cta-btn {
        width: 400px;
        a {
            padding-top: calc(2.5rem - 2px);        //borderの幅分
            padding-right: calc(rem(54) - 2px);
            padding-bottom: calc(1rem - 2px);
            padding-left: calc(rem(82) - 2px);
            font-size: rem(48);
            height: 120px;
            span {
                font-size: rem(24);
            }
            &::before{
                content: "＞";
                font-size: rem(32);
            }
        }
    }
}