@use "global" as *;

.p-footer-nav {
    width: 100%;
    background-color: $d-green;
    padding-top: rem(24);
    padding-right: 0.5rem;
    padding-bottom: rem(24);
    padding-left: 0.5rem;
}

.p-footer-nav__list {
    width: 300px;
    margin: 0 auto;
}

.p-footer-nav__item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: 1s;
    a {
        display: inline-block;
        color: $white;
        font-weight: bold;
        @include txt-border($white);
        &::after {
            bottom: -0.25rem;
            height: 0.1rem;
            transition: transform 1s;
        }
    }
}

.p-footer-bottom {
    background-color: $white;
    padding-top: 2rem;
    padding-bottom: rem(82);
}

.p-footer-bottom__inner {}

.p-footer-sns {}

.p-footer-sns__list {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

}

.p-footer-sns__item {
    width: 40px;
    @include opa;
    &:not(:last-child) {
        margin-right: 2rem;
    }
    a {
    }
}

.p-footer-sns__icon {
    img {}
}

.p-footer-bottom__nav {}

.p-footer-bottom__list {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.p-footer-bottom__item {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &:not(:last-child) {
        border-right: 1px solid $black;
    }
    a {
        font-size:max(rem(12), 3.8vw);
    }
}

.p-footer-copy {
    text-align: center;
    small {}
}

@include mq (sp) {
    .p-footer-bottom__item {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        &:not(:last-child) {
            border-right: 1px solid $black;
        }
        a {
            font-size: 1rem;
        }
    }
}
@include mq () {
    .p-footer-nav__list {
        display: flex;
        justify-content: center;
        width: auto;
        margin: 0 auto;
    }

    .p-footer-nav__item {
        padding: 0.5rem 1rem;
        border-bottom: none;
        a {
            color: $white;
            font-weight: bold;
        }
    }

    .p-footer-bottom {
        background-color: $white;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}