@use "global" as *;

.p-swiper {
}

.p-swiper-inner {

}

.p-swiper-container {}

.p-swiper-item {
    height: calc(300px + 5rem);
}

.p-swiper-img {
    overflow: hidden;
    position: relative;
    img {
        height: calc(300px + 5rem);
    }
}
//swiper.css///////////////

.swiper-wrapper {
    height: calc(300px + 5rem);
    overflow: hidden;
}

.swiper-button-next,
.swiper-button-prev {
    opacity: 0.3;
    transition: 1s;
    &:hover {
        opacity: 1;
    }
    &::after {
        color: $green;
    }
}

/////////////////////////////////

.p-swiper-img__meta {
    position: absolute;
    display: flex;
    align-items: start;
    width: 100%;
    max-width: 600px;
    top: 6rem;
	left: 50%;
	transform: translate(-50%);

}

.p-swiper-img__tag {
    background-color: $d-green;
    padding: 0.5rem 0.8rem;
    border-radius: 10px;
    font-size: max(rem(12), 4vw);
    color: $white;
}

.p-swiper-img__ttl {
    max-width: calc(100% - min(275px, 49vw));
    font-size: max(rem(16), 6.4vw);
    color: $white;
    text-shadow: 0.5px  0.5px 0px #000000;
    margin-top: 0.25rem;
    margin-left: 1rem;
}

@include mq (sp) {
    .p-swiper-item {
        height: calc(450px + 5rem);
    }
    .swiper-wrapper {
        height: calc(450px + 5rem);
    }
    .p-swiper-img__meta {
        justify-content: center;
        top: 7rem;
        max-width: 450px;
        max-width: 800px;
    }
    .p-swiper-img__tag {
        width: 210px;
        font-size: rem(20);
    }
    .p-swiper-img__ttl {
        font-size: rem(28);
        font-size: max(rem(24), 4.2vw);
        margin-left: 1.5rem;
    }
}
@include mq () {
    .p-swiper-item {
        height: calc(500px + 5rem);
    }
    .swiper-wrapper {
        height: calc(500px + 5rem);
    }
    .p-swiper-img__meta {
        max-width: 800px;
    }
    .p-swiper-img__tag {
        width: 245px;
        font-size: rem(24);
    }
    .p-swiper-img__ttl {
        font-size: rem(32);
    }
}
@include mq (pc) {
    .p-swiper-item {
        height: 600px;
    }

    .swiper-wrapper {
        height: 600px;
    }

    .p-swiper-img__meta {
        max-width: 900px;
    }

    .p-swiper-img__tag {
        padding: 1rem 0.8rem;
        width: 310px;
        font-size: rem(32);
    }
    .p-swiper-img__ttl {
        font-size: rem(40);
        margin-top: 0.75rem;
    }
}